{% capture page_url %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
{% capture page_title %}{% if page.title %}{{ page.title | strip_html }} - {% endif %}{{ site.data.settings.title }}{% endcapture %}
{% capture page_description %}{% if page.description %}{{ page.description }}{% else if %}{{ page.excerpt }}{% else %}{{ content | strip_html | strip_newlines | condense_spaces | truncate:150 }}{% endif %}{% endcapture %}
{% capture author %}{% if page.author %}{{ page.author }}{% else %}{{ site.data.settings.author }}{% endif %}{% endcapture %}
{% capture keywords %}{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.data.settings.seo.keywords }}{% endif %}{% endcapture %}
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="de" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="de" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="de" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="de"><!--<![endif]-->

{% include head.html %}

<body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>

  <div class="svg-icons">
    {% include svg/icons.svg %}
  </div>

  <div class="container">
    {% include header.html %}
    <div class="wrapper">
      {% include navigation.html %}
      <div class="content{% if page.content_class %} {{ page.content_class }}{% endif %}">
        {{ content | nospace }}
        {% include footer.html %}
      </div>
    </div>
  </div>

  <script src="/assets/js/application.js"></script>
</body>
</html>
