//====================================
//  Code
//====================================

// Code
code {
  @extend %mono-font;
  background: $white;
  border-radius: 3px;
  font-size: modular-scale(0);
  padding: 0 0.3em;
}


// Predefined
pre {
  background: $white;
  margin-bottom: $default-spacing-bottom;
  padding: 1.5em;

  code {
    display: block;
    line-height: 1.2;
    overflow-x: auto;
    padding: 0 0 0.8em;
  }
}


// Variable
var {
  font-style: italic;
}


// Sample output
samp {
  @extend %mono-font;
  background: $sample-background;
  border: 1px solid #dddddd;
  border-radius: 0.4em;
  color: $sample-color;
  display: inline-block;
  font-size: modular-scale(0);
  line-height: 1.5em;
  margin: -1px 0;
  padding: 0 0.3em;
  white-space: no-wrap;
}


// Keyboard entry
kbd {
  background-color: $keyboard-background;
  border: 1px solid $keyboard-border;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba($black, 0.2), 0 0 0 2px $white inset;
  color: $very-dark-magenta;
  display: inline-block;
  font-size: $font-scale-kbd;
  font-weight: $weight-bold;
  line-height: 1.5;
  margin: 0 0.1em;
  padding: 0.3em 0.6em 0.1em;
  text-shadow: 0 1px 0 $white;
  white-space: nowrap;
}
