//====================================
//  Footer
//====================================

.footer {
  border-top: 1px solid lighten($dimmed-grey, 10);
  clear: both;
  color: $dimmed-grey;
  margin-top: $default-spacing-top;
  padding: $default-spacing 0;
}

.footer__content {
  font-size: modular-scale(0);
  text-align: center;

  p {
    line-height: 2;
    margin-bottom: 0.5em;

    @include breakpoint($grid-breakpoint-medium) {
      line-height: 1.5;
      margin-bottom: 0.2em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
