//====================================
//  Headlines
//====================================

h1,
h2,
h3,
h4,
h5,
h6,
table caption {
  @include enable-ligatures;
  clear: both;
  color: $strong-green;
  font-weight: $weight-bold;
  hyphens: manual;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  color: $dark-moderate-green;
  font-size: modular-scale(3);

  .page-post & {
    margin-bottom: 0.2em;
  }

  .page-categories & {
    text-transform: capitalize;
  }

  @include breakpoint($grid-breakpoint-medium) {
    font-size: modular-scale(4);
  }

  @include breakpoint($grid-breakpoint-large) {
    font-size: modular-scale(5);
  }
}

h2 {
  font-size: modular-scale(2);

  @include breakpoint($grid-breakpoint-medium) {
    font-size: modular-scale(3);
  }

  @include breakpoint($grid-breakpoint-large) {
    font-size: modular-scale(4);
  }

  .page-home & {
    font-size: modular-scale(1);
  }

  .article-list & {
    font-size: modular-scale(2);

    @include breakpoint($grid-breakpoint-large) {
      font-size: modular-scale(3);
    }
  }
}

h3 {
  font-size: modular-scale(2);

  @include breakpoint($grid-breakpoint-medium) {
    font-size: modular-scale(2);
  }

  @include breakpoint($grid-breakpoint-large) {
    font-size: modular-scale(3);
  }
}

h4,
h5,
h6,
table caption {
  font-size: modular-scale(2);
}
