//====================================
//  Grids
//====================================

// Grid settings
// -------------

// "Mobile first"

$breakpoint-to-ems: true;

// Base Grid
@include add-grid(3);
@include add-grid(6 at $grid-breakpoint-small);
@include add-grid(14 at $grid-breakpoint-medium);
@include add-grid(16 at $grid-breakpoint-large);

// Breakpoint gutters
@include add-gutter(1/3);


// Grids
// -----

.container {
  @include clearfix;
  margin: 0 auto;
  max-width: $container-max-width;

  @include breakpoint($container-max-width) {
    margin: 0 auto 100px;
  }
}

.wrapper {
  @include clearfix;
  padding: 0 15px;
  position: relative;
}

.content {
  @include grid-span(3, 1);
  padding-top: $default-spacing-top;

  @include breakpoint($grid-breakpoint-small) {
    @include grid-span(6, 1);
  }

  @include breakpoint($grid-breakpoint-medium) {
    @include grid-span(12, 2);
  }

  @include breakpoint($grid-breakpoint-large) {
    @include grid-span(14, 2);
  }

  @include breakpoint($grid-breakpoint-xlarge) {
    @include grid-span(10, 4);
    padding-top: 3em;
  }
}

.fullsize-grid .content {
  @include breakpoint($grid-breakpoint-xlarge) {
    @include grid-span(14, 2);
  }
}

// Article overview
.layout-articles--alphabetical {
  @include grid-span(3, 1);

  @include breakpoint($grid-breakpoint-small) {
    @include grid-span(3, 4);
  }

  @include breakpoint($grid-breakpoint-medium) {
    @include grid-span(6, 1, 12);
  }

  @include breakpoint($grid-breakpoint-large) {
    @include grid-span(5, 6, 14);
  }
}

.layout-articles--chronological {
  @include grid-span(3, 1);

  @include breakpoint($grid-breakpoint-small) {
    @include grid-span(3, 1);
  }

  @include breakpoint($grid-breakpoint-medium) {
    @include grid-span(6, 7, 12);
  }

  @include breakpoint($grid-breakpoint-large) {
    @include grid-span(5, 1, 14);
  }
}

.layout-categories {
  @include grid-span(3, 1);

  @include breakpoint($grid-breakpoint-small) {
    @include grid-span(6, 1);
  }

  @include breakpoint($grid-breakpoint-medium) {
    @include grid-span(12, 1, 12);
  }

  @include breakpoint($grid-breakpoint-large) {
    @include grid-span(4, 11, 14);
  }
}

// Generic layouts
.layout-10-of-14 {
  @include breakpoint($grid-breakpoint-xlarge) {
    @include grid-span(10, 1, 14);
    clear: both;
  }
}
