//====================================
//  Navigation
//====================================

.nav {
  font-size: 54px;
  height: 60%;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate3d(0, -50%, 0);

  @include breakpoint(screen and (max-width: 550px)) {
    font-size: 34px;
    height: 70%;
  }

  @include breakpoint(screen and (max-height: 490px)) {
    font-size: 34px;
    height: 70%;
  }
}

.nav__menu {
  display: inline-block;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.nav__item {
  backface-visibility: hidden;
  display: block;
  height: 100% / $main-navigation-count;
  min-height: 44px;

  @include breakpoint(screen and (max-width: 550px)) {
    min-height: 34px;
  }

  @include breakpoint(screen and (max-height: 490px)) {
    min-height: 34px;
  }
}

.nav__link {
  color: $strong-green;
  display: block;
  font-weight: $weight-bold;
  text-decoration: none;
  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $very-dark-magenta;
  }
}


// Navigation Button
.nav-btn {
  height: 44px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 44px;
  z-index: 10;

  .icon {
    height: 24px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 24px;
  }
}


// Fallback navigation for clients without JavaScript
.nav--noscript {
  background: rgba($black, 0.4);
  text-align: center;
}

.nav--noscript__item {
  display: inline-block;
  margin: 5px 10px;
}

.nav--noscript__link {
  @include link-colors($white, $strong-green);
  text-decoration: none;
}
