//====================================
//  Pullquote
//====================================

%pullquote {
  font-size: modular-scale(2);
  font-style: italic;
  line-height: 1.5;
}

// Centered Pullquote
.pullquote {
  border: 0;
  font-size: modular-scale(5);
  font-style: normal;
  line-height: 1.5;
  margin: 0.5em;
  padding: 0;
  text-align: center;

  > p {
    border: 0;
    padding: 0;
  }

  @include breakpoint($grid-breakpoint-small) {
    margin: $default-spacing;
  }
}

.pullquote[lang|=de] {
  @include pullquote-quotes('„' '“' '‚' '‘');
}

.pullquote[lang|=en] {
  @include pullquote-quotes('“' '”' '‘' '’');
}

.pullquote[lang|=ja] {
  @include pullquote-quotes('「' '」' '『' '』');
}

// Left/right aligned pullquotes
.pullquote-right:before,
.pullquote-left:before {
  @extend %pullquote;
  border: 0;
  content: attr(data-pullquote);
  display: inline-block;
  margin-bottom: $default-spacing-bottom;
  margin-top: $default-spacing-top;
  width: grid-span(3, 1);

  @include breakpoint($grid-breakpoint-small) {
    float: right;
    padding-left: 0.75em;
    padding-right: 0.75em;
    position: relative;
    width: column-span(3, 4, 6);
  }

  @include breakpoint($grid-breakpoint-medium) {
    width: column-span(6, 7, 12);
  }

  @include breakpoint($grid-breakpoint-large) {
    width: column-span(7, 8, 14);
  }

  @include breakpoint($grid-breakpoint-xlarge) {
    width: column-span(5, 6, 10);
  }
}

.pullquote-left:before {
  @include breakpoint($grid-breakpoint-small) {
    float: left;
    width: column-span(3, 4, 6);
  }

  @include breakpoint($grid-breakpoint-medium) {
    width: column-span(6, 1, 12);
  }

  @include breakpoint($grid-breakpoint-large) {
    width: column-span(7, 1, 14);
  }

  @include breakpoint($grid-breakpoint-xlarge) {
    width: column-span(5, 1, 10);
  }
}
