//====================================
//  Social Icons
//====================================

.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 $default-spacing-bottom;
}

.social__item {
  margin: 0 5px;

  @include breakpoint($grid-breakpoint-small) {
    margin: 0 10px;
  }

  @include breakpoint($grid-breakpoint-large) {
    margin: 0 20px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
}

.social__icon {
  fill: $greyish-green;
  max-height: 60px;
  width: 100%;

  &:hover {
    fill: $dark-moderate-green;
  }

  @include breakpoint($grid-breakpoint-small) {
    max-height: 100px;
  }

  @include breakpoint($grid-breakpoint-large) {
    max-height: 150px;
  }
}
