//====================================
//  Article
//====================================

.article-title,
.article-meta {
  @include breakpoint($grid-breakpoint-xlarge) {
    text-align: center;
  }
}

.article-meta {
  font-size: 14px;
  margin-bottom: 3em;
}

.article-author {
  display: inline-block;
  font-weight: bold;
}

.article-author-byline {
  font-weight: normal;
}
