//====================================
//  Tables
//====================================

%table {
  border-collapse: separate;
  border-spacing: 0 1em;
  font-size: modular-scale(1);
  margin-bottom: $default-spacing-bottom;
  width: 100%;

  td,
  th {
    &:last-child {
      border-bottom: 1px solid $table-border-color;
      padding-bottom: 1.5em;
    }
  }

  th {
    display: block;
  }

  td {
    display: block;
  }

  tr {
    margin-bottom: $default-spacing-bottom;
  }

  th,
  td {
    font-weight: $weight-normal;
    text-align: left;
    vertical-align: middle;
  }

  th {
    font-weight: $weight-bold;
  }

  thead th {
    vertical-align: bottom;
  }

  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }

  tr {
    margin-bottom: $default-spacing-bottom;
  }

  th,
  td {
    font-weight: $weight-normal;
    text-align: left;
    vertical-align: middle;
  }

  th {
    font-weight: $weight-bold;
  }

  thead th {
    vertical-align: bottom;
  }

  @include breakpoint($grid-breakpoint-medium) {
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      border-top: 1px solid $table-border-color;
      display: table-cell;
      padding: 8px;
      text-align: left;
      vertical-align: top;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 8px;
      }
    }
  }

  @include breakpoint($grid-breakpoint-medium) {
    font-size: modular-scale(0);
  }
}

table {
  @extend %table;
}


// Zebra tables
.table--striped {
  @extend %table;

  tbody > tr:nth-child(odd) > td,
  tbody > tr:nth-child(odd) > th {
    background-color: $table-striped-background;
  }
}

// Bordered tables
.table--bordered {
  @extend %table;
  border: 1px solid $table-border-color;
  border-collapse: separate;
  border-left: 0;
  border-radius: 4px;

  th,
  td {
    border-left: 1px solid $table-border-color;
  }
}

// Tables with hover
.table--hover {
  @extend %table;

  tbody tr:hover > td,
  tbody tr:hover > th {
    background-color: $table-striped-background;
  }
}
