//====================================
//  Flipboard
//====================================

.flipboard {
  display: block;
  height: 200px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 150px;

  &:hover .flipboard__button {
    background-color: $flipboard-button-background-hover;
    border: 0;
    cursor: pointer;
  }

  &:active .flipboard__button {
    background-color: $flipboard-button-background-active;
    outline: 0;
  }
}

.flipboard__information {
  display: table-cell;
  height: 98px;
  margin-top: 10px;
  position: relative;
  vertical-align: middle;
  z-index: 5;
}

.flipboard__title,
.flipboard__author {
  color: $flipboard-color-info;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.1;
  margin: 0;
}

.flipboard__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.25em;
}

.flipboard__author {
  color: $flipboard-color-author;
  font-size: 12px;
  font-weight: 200;
}

.flipboard__translucent,
.flipboard__image {
  background: $flipboard-cover-background no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.flipboard__translucent {
  background-color: rgba($black, 0.4);
  z-index: 2;
}

.flipboard__image {
  background-image: url("/assets/images/stylesheets/flipboard/cover.jpg");
  background-position: center center;
  z-index: 1;
}

.flipboard__logo {
  background-image: url("/assets/images/stylesheets/flipboard/logo.png");
  display: block;
  height: 52px;
  position: relative;
  width: 40px;
  z-index: 5;
}

.flipboard__footer {
  bottom: 10px;
  position: absolute;
  text-align: center;
  width: 130px;
  z-index: 5;
}

.flipboard__button {
  background-color: rgba($flipboard-button-background, 0);
  border: 1px solid $white;
  border-radius: 4px;
  color: $white;
  display: block;
  height: 30px;
  width: 100%;
}
