//====================================
//  Search
//====================================

.search {
  background: rgba($greyish-green, 0.5);
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  margin-bottom: $default-spacing-bottom;
  padding: 1em;

  ::placeholder {
    color: $greyish-green;
  }
}

.search__input {
  background: rgba($white, 0.6);
  border: 0;
  font-size: modular-scale(1);
  outline: 0;
  padding: 1em;
  text-align: center;
  width: 100%;

  &:hover,
  &:focus {
    background: $white;
  }
}


// Search Results
.search-results {
  @extend %clearfix;
  opacity: 0;
  transition: all 350ms ease-in;
}

.search-results {
  &.search-results--open {
    @extend %clearfix;
    opacity: 1;
    transition: all 150ms ease-out;
  }
}

.search-results--open {
  background: $white;
  border: 3px double $greyish-green;
  margin-top: $default-spacing-top;
  padding: 1em;
  text-align: center;
}

.search-results__headline {
  font-size: modular-scale(1);
}

.search-results__entries {
  p {
    margin-bottom: 0;
  }
}

.search-results__no-entries {
  font-size: modular-scale(0);
}
