//===================================
//  Quotes with Footer, Author, Cite
//===================================

// Author
.quote__author {
  font-style: normal;

  &:before {
    @include breakpoint($grid-breakpoint-medium) {
      content: '–';
      padding-left: 0.3em;
      padding-right: 0.3em;
    }
  }
}


// Cite
.quote__cite {
  display: block;

  @include breakpoint($grid-breakpoint-medium) {
    display: inline;
  }
}


// Long quotes
.quote--longquote {
  border: 0;
  font-style: normal;
  margin-bottom: $default-spacing-bottom;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
}
