//====================================
//  Typography
//====================================

//* Modular Scale
//* ----------------------
//* 16px @ 1:1.618
//* 14px @ 1:1.618
//* ----------------------

// http://modularscale.com/scale/?px1=16&px2=14&ra1=1.618&ra2=0

$ms-base:                    14px 18px;
$ms-ration:                  $golden;

// Weights
$weight-normal:              400;
$weight-bold:                700;

// Typefaces
$base-font-family:           'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
$base-font-family-wf:        'Exo', 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;

// Base sizes and line-height
$font-unit:                  1em;
$base-font-size:             modular-scale(1); // 16px
$base-line-height:           1.5;
$base-font-weight:           $weight-normal;

$font-scale-kbd:             $base-font-size * 0.75;
