---
layout: page
title: "Artikelverzeichnis"
description: "Übersicht über alle Artikel der Seite, sortiert nach chronologischer oder alphabetisch Reihenfolge, und gruppiert nach Kategorie."
permalink: "/artikel/"
body_class: "fullsize-grid page-articles"
---

<section class="article-list">
  <p>Die Artikel auf dieser Website lassen sich <strong>chronologisch</strong> lesen: Zuerst erkläre ich die Grundlagen des Ninjutsu, wichtige Personen und Clans, dann historische Ereignisse in Zentraljapan und den Niedergang der Ninja. Hinterher folgen Kampf- und Trainingsprinzipien, Waffen und Werkzeuge, philosophische Konzepte, Strategie und Taktik. Im Anschluss daran Biographien von <em>modernen</em> Ninja, Bujinkan und die 9 Schulen und weitere Regeln und Konzepte.</p>
  <p>Es gibt aber auch eine <strong>alphabetische</strong> Liste und eine Gruppierung nach <strong>Kategorie</strong>.</p>
  <div class="layout-articles layout-articles--chronological custom-underline">
    <h2>Chronologisch</h2>
    <ul>
      {% for post in site.posts reversed %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="layout-articles layout-articles--alphabetical custom-underline">
    <h2>Alphabetisch</h2>
    <ul>
      {% assign sorted_posts = site.posts | sort:"title" %}
      {% for post in sorted_posts %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="layout-categories">
    <h2>Kategorien</h2>
    {% include categories_list.html %}
  </div>
</section>

