---
layout: default
body_class: "fullsize-grid page-home"
description: "Fachmagazin für Ninja, Ninjutsu und Kampfkunst. Seit 1999 bietet diese Website umfassende Informationen zu den Themen Ninja, ihrer Kampfkunst Ninjutsu, Waffen, Werkzeugen, Strategie und Taktik und vieles mehr."
homepage: true
---

<div class="homepage-tagline">
  <p class="homepage-tagline-japanese">忍法一貫</p>
  <p class="homepage-tagline-translation"><q>Ninpō Ikkan</q> (jap. <q>Ninjutsu ist der Anfang und kennt kein Ende.</q>)</p>
</div>

<div class="homepage-intro">
  <div class="homepage-intro-text">
    <p>Willkommen auf <strong>kogakure.de</strong>. Seit 1999 kann man hier Artikel, Textsammlungen und Übersetzungen zu Themen rund um die japanischen Schattenkrieger und Spione, die <strong>Ninja</strong>, und deren Kampfkunst <strong>Ninjutsu</strong> lesen.</p>
    <p>Beim ersten Besuch empfehle ich, zuerst mit dem Artikel <a href="/artikel/ninjutsu/">Ninjutsu</a> zu starten, eine Übersicht über alle Artikel ist im <a href="/artikel/">Artikelverzeichnis</a> zu finden.</p>
  </div>
</div>

<div class="homepage-categories">
  <h2>Kategorien</h2>
  {% include categories_list.html %}
</div>

<div class="homepage-download">
  <h2>Download</h2>
  <p>Die Ninja von Iga verwendeten eine <strong>Geheimschrift</strong>. Ich habe aus der Holztafel des Ninja-Museums von Iga eine Schriftart zum <a href="/downloads/ingo.zip">Download</a> erstellt.</p>
</div>

<div class="homepage-dictionary">
  <h2>Lexikon</h2>
  <div class="card homepage-dictionary-flex">
    <div class="homepage-dictionary-japanese">
      <div class="homepage-dictionary-card">
        <ruby class="homepage-dictionary-kanji">忍<rp>（</rp><rt class="homepage-dictionary-kana">しのぶ</rt><rp>）</rp></ruby>
      </div>
    </div>
    <div class="homepage-dictionary-definitions">
      <ol>
        <li>ertragen, aushalten, dulden</li>
        <li>verstecken, verbergen, spähen, schleichen</li>
      </ol>
    </div>
    <a href="/lexikon/" class="card-link">Mehr Einträge ansehen</a>
  </div>
</div>

<div class="homepage-quote">
  <h2>Zitate</h2>
  <div class="card">
    <div class="homepage-quote-flex">
      <blockquote class="homepage-quote-blockquote">
        <p>Die Weisheit des Lebens besteht im Ausschalten der unwesentlichen Dinge.</p>
        <footer class="homepage-quote-footer">
          <strong class="homepage-quote-author">aus China</strong>
      </blockquote>
    </footer>
      <a href="/zitate/" class="card-link">Mehr Zitate ansehen</a>
    </div>
  </div>
</div>

<h2>Kaufempfehlungen</h2>
<div class="recommendations">
  <ul class="recommendation-homepage books">
    {% assign recommended_books = site.data.products.books | where:"recommendation",true %}
    {% assign recommended_movies = site.data.products.movies | where:"recommendation",true %}
    {% for book in recommended_books limit:3 %}
      <li class="recommendation-homepage-item">
        <a class="recommendation-homepage-link" href="http://www.amazon.de/gp/product/{{ book.asin }}?ie=UTF8&tag=kogakurede-21&linkCode=as2&camp=1638&creative=6742&creativeASIN={{ movie.asin }}" target="_blank">
          <img class="recommendation-homepage-image" width="100" src="/assets/images/{{ book.thumbnail }}" alt="{{ book.title }}">
        </a>
      </li>
    {% endfor %}
    {% for movie in recommended_movies limit:3 %}
      <li class="recommendation-homepage-item">
        <a class="recommendation-homepage-link" href="http://www.amazon.de/gp/product/{{ movie.asin }}?ie=UTF8&tag=kogakurede-21&linkCode=as2&camp=1638&creative=6742&creativeASIN={{ movie.asin }}" target="_blank">
          <img class="recommendation-homepage-image" width="100" src="/assets/images/{{ movie.thumbnail }}">
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="/kaufempfehlungen/" class="recommendations-link">Mehr Empfehlungen ansehen</a>
</div>

<h2>Soziale Netzwerke</h2>
<div class="social">
  <ul class="social-list">
    <li class="social-item">
      <a href="{{ site.data.settings.social.facebook_url }}" class="social-link" title="Facebook Page"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a>
    </li>
    <li class="social-item">
      <a href="{{ site.data.settings.social.googleplus_url }}" class="social-link" title="Google+ Page"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googleplus"></use></svg></a>
    </li>
    <li class="social-item">
      <a href="{{ site.data.settings.social.googleplus-communities_url }}" class="social-link" title="Google+ Community"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googleplus-communities"></use></svg></a>
    </li>
    <li class="social-item">
      <a href="{{ site.data.settings.social.pinterest_url }}" class="social-link" title="Pinterest Board"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use></svg></a>
    </li>
    <li class="social-item">
      <a href="{{ site.data.settings.social.feedburner_url }}" class="social-link" title="Feed"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#feed"></use></svg></a>
    </li>
  </ul>
</div>
