---
layout: page
title: "Buch-Empfehlungen"
permalink: "/kaufempfehlungen/buecher/"
description: "Kaufempfehlungen aus dem Bereich Bücher"
body_class: "fullsize-grid page-book-recommendations"
---

<ul class="books recommendation">
  {% for book in site.data.products.books %}
    <li class="recommendation-item">
      <figure class="recommendation-layer" itemscope itemtype="http://schema.org/Book">
        <img class="recommendation-image" width="300" src="/assets/images/{{ book.cover }}" alt="{{ book.title }}" itemprop="image">
        <figcaption class="recommendation-info">
          <h2 class="recommendation-info-title" itemprop="name">{{ book.title | truncate:"150" }}</h2>
          <p class="recommendation-info-contributors">
            <i>von</i>
            {% for contributor in book.contributors %}
              <span itemprop="author">{{ contributor.name }}</span> ({{ contributor.role }}){% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </p>
          <dl class="recommendation-info-details">
            <dt class="recommendation-info-details-title">Seiten</dt>
            <dd class="recommendation-info-details-definition" itemprop="numberOfPages">{{ book.pages }}</dd>
            <dt class="recommendation-info-details-title">Sprache</dt>
            <dd class="recommendation-info-details-definition" itemprop="inLanguage">{{ book.language }}</dd>
          </dl>
          <a class="recommendation-link" href="http://www.amazon.de/gp/product/{{ book.asin }}?ie=UTF8&tag=kogakurede-21&linkCode=as2&camp=1638&creative=6742&creativeASIN={{ book.asin }}"target="_blank">Kaufen</a>
        </figcaption>
      </figure>
      {% if book.new == true %}
      <div class="recommendation-new">Neu</div>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<a href="/kaufempfehlungen/" class="custom-underline-link">Zurück zur Übersicht</a>
