/* Aside
 ********/

.aside {
  background: $greyish-green;
  font-size: $modular-scale-0;
  line-height: 1.5;
  margin-bottom: $default-spacing-bottom;
  margin-top: $default-spacing-top;
  padding: 1.5em;

  p:last-child {
    margin: 0;
  }
}

.aside-headline {
  color: $white;
}

.aside-full {
  clear: both;
  width: 100%;
}


/* Product recommendation */
.aside-recommendation {
  background: $very-soft-green;
  position: relative;
  width: 100%;
}

.aside-recommendation-item {
  lost-utility: clearfix;
}

.aside-recommendation-image {
  float: left;
  margin: 0 1em 0 0;
}

.aside-recommendation-title {
  clear: none;
  color: $very-dark-magenta;
  font-size: $modular-scale-0;

  @media screen and (width >= $grid-breakpoint-small) {
    font-size: $modular-scale-1;
  }
}

.aside-recommendation-contributors {
  margin-bottom: 0.5em;
}

.aside-recommendation-link {
  @extend full-box-link;
}
