/* Highlight
 ************/

.highlight {
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  clear: both;
  position: relative;

  code {
    &:after {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, #ffffff 50%, #ffffff);
      content: " ";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: calc($default-spacing * 3);
    }
  }

  table {
    margin-bottom: 0;

    pre {
      @extend mono-font;
      margin-bottom: 0;
      padding: 0;
    }

    td {
      border: 0;
    }
  }

  .gutter {
    width: 2em;
  }

  .lineno {
    color: rgba($very-dark-magenta, 0.15);
  }
}
