/* Verse
 ********/

.verse {
  background: $white;
  border: 0;
  margin: 0;
  margin-bottom: $default-spacing-bottom;
  padding: 0;
}

.verse-box {
  font-family: inherit;
  margin: $default-spacing;
  overflow-x: auto;
  padding: 1.5em 0;
}

.verse-author {
  &:before {
    @media screen and (width >= $grid-breakpoint-medium) {
      content: "–";
      padding-left: 0.3em;
      padding-right: 0.3em;
    }
  }
}

.verse-box p {
  border: 0;
  padding: 0;
}
