<a href="{{ site.data.settings.social.flipboard_magazin_url }}" target="_blank" class="flipboard">
  <div class="flipboard-logo"></div>
  <div class="flipboard-information">
    <h3 class="flipboard-title">Ninja, Samurai &amp; Martial Arts</h2>
    <h4 class="flipboard-author">von Stefan Imhoff</h3>
  </div>
  <footer class="flipboard-footer">
    <button class="flipboard-button">Magazin ansehen</button>
  </footer>
  <div class="flipboard-translucent"></div>
  <div class="flipboard-image"></div>
</a>
