<a href="{{ site.data.settings.social.flipboard_magazin_url }}" target="_blank" class="flipboard">
  <div class="flipboard__logo"></div>
  <div class="flipboard__information">
    <h3 class="flipboard__title">Ninja, Samurai &amp; Martial Arts</h2>
    <h4 class="flipboard__author">von Stefan Imhoff</h3>
  </div>
  <footer class="flipboard__footer">
    <button class="flipboard__button">Magazin ansehen</button>
  </footer>
  <div class="flipboard__translucent"></div>
  <div class="flipboard__image"></div>
</a>
