{% unless site.related_posts == empty %}
  <section class="article-related custom-underline">
    {% if page.language == "en" %}
    <h3 class="article-releated__headline">Related Articles</h3>
    {% else %}
    <h3 class="article-releated__headline">Ähnliche Beiträge</h3>
    {% endif %}
    <ul class="article-related__list">
      {% for post in site.related_posts limit:5 %}
      <li class="article-related__item">
        <a href="{{ root_url }}{{ post.url }}">{{ post.title | ampersand }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
{% endunless %}
