<div id="search">
  <form action="/suche" method="get">
    <input type="text" id="search-query" class="search__input" name="q" placeholder="Suchen" autocomplete="off">
  </form>
</div>

<section id="search-results" class="search-results">
  <div class="search-results__entries custom-underline"></div>
</section>

{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <h4 class="search-results__headline">
        <a href="{{url}}">{{title}}</a>
      </h4>
    </article>
  {{/entries}}
</script>
{% endraw %}
